<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Quotes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>

    <div class="quote">
        "{{quote['quote']}}"
    </div>
    <div class="details">
        - {{quote['character']}} from {{quote['anime']}}
    </div>
    <button onclick="window.location.reload();" class="button">Get another Quote</button>
    <button onclick="LoadAbout()" class="button">About</button>
    <script src="static\script.js"></script>

</body>


</html>