@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #d0d6d6;
    font-family: 'Questrial','sans-serif';
    font-size:16px;
    color: #041421;
    margin: 5%;
}

.container{
    display:flex;
    flex-direction: row;
    gap:1rem;
    max-width: 800px;
    margin: 0 auto;
}

.main{
    display:flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 0;
    justify-content: space-between;
    gap:1rem;
}

.box{
    display:flex  ;
    gap:1rem;
}

.img{
    align-self: center;
    width:200px;
}

 .content{
    flex-grow: 6;
    flex-basis: 0;
    max-width: 800px;
    max-height: 220px;
    border: 2px solid #4c7273;
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    text-align: justify;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    } 

.header{
    font-size:20px;
    text-align:right;
    border-bottom: 2px dashed #4c7273;
    font-family: 'Architects Daughter';
}

.link{
    position:fixed;
    top:1%;
    left:1%
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(123, 137, 203); 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #606690; 
  }

  a {
    text-decoration: none;
    color:rgb(14, 81, 126);
  }

  a:hover{
    font-weight: bold;
    font-style: italic;
  }

  .img1{
    width:81px;
    height:33px;
  }

  .badges {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a4b2c792;
    padding: 10px; 
    text-align: center;
}

.p{
  text-align: left;
  font-family: 'Architects Daughter';
}
.title{
  width:100px;
  font-size: larger;
  background-color: #b3d1d2;
}



@media(max-width:730px){
    .box img{
    display: none;
    }
    .badges{
      display: none;
    }
    }
    
    @media(max-width:515px){
    .container{
    flex-direction: column;
    }
    }

